<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports Community</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    
    <img class="bg" src="/static/turf-bg.jpg" alt="Background Image">

    <!-- ----------Navigation Bar---------- -->

    <header class="navbar">
        <div class="container">

            <div class="logo">
                <h1 class="logo-1"><img src="/static/squadUp-logo.png" alt="Squad Up Logo"></h1>
            </div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li>
                    <a href="#">Services ▾</a>
                    <ul class= dropdown>
                        <li><a href="{{ url_for('login') }}">Turf Booking</a></li>
                        <li><a href="flat.html">Join Community</a></li>
                        <li><a href="flat.html">Create Community</a></li>
                    </ul>
                    </li>
                    <li><a href="aboutUs.html">About Us</a></li>
                    <li><a href="{{ url_for('login') }}">Login / Sign Up</a></li>
                </ul>
            </nav>
        </div>
        <hr>
    </header>

    <!-- ------------- Parallax Scrolling ------------- -->

    <div class="containerParallax">
        <!-- Left side for parallax text -->
        <div class="left-text">
            <section class="face front">
                <h1>Welcome to the Sports Arena</h1><br>
                <p>Explore exciting sports moments and captivating visuals.</p>
            </section>
            <section class="face top">
                <h1>Dynamic Action</h1><br>
                <p>Catch every move, every play, and every victory.</p>
            </section>
            <section class="face back">
                <h1>Unleashing Talent</h1><br>
                <p>Be part of the community that celebrates athletes.</p>
            </section>
            <section class="face bottom">
                <h1>Squad Up!!</h1><br>
                <p>tagline</p>
            </section>
        </div>

        <!-- Right side for parallax collage -->
        <div class="right-parallax">
            <img src="/static/1.png" alt="Image 1" class="image image1">
            <img src="/static/4.jpg" alt="Image 2" class="image image2">
        
            <div class="search">
                <input type="text" placeholder="Search">
                <button>Go</button>
            </div>
        
            <img src="/static/5.jpg" alt="Image 3" class="image image3">
            <img src="/static/7.jpg" alt="Image 4" class="image image4">
        </div>        
    </div>

<!-- ------------------- Find Turf ------------------- -->

    <div class="find-turf">
        <h1>Find Turfs Near You</h1>
        <div class="scrollable-wrapper">
            <button class="arrow left-arrow" disabled>&lt;</button> <!-- Left Arrow -->
            <div class="turfs">
                <div class="turf1">
                    <img src="/static/firstChoice.png" alt="First Choice Cricket Academy">
                    <p><b>First Choice Cricket Academy</b><br><br>
                    <b>Location:</b><br>
                    Behind Morya Mart, near Charholi Phata<br><br>
                    <b>Time: </b>Closes at 10 p.m. <br><br>
                    <b>Distance: </b> 1.8 km<br></p>
                </div>

                <div class="turf2">
                    <img src="/static/rudranshTurf.jpg" alt="Rudransh Cricket Turf">
                    <p><b>Rudransh Cricket Turf</b><br><br>
                    <b>Location:</b><br>
                    Near Pritam Prakash College, 
                    <br>Dhawade Wasti, Bhosari<br><br>
                    <b>Time: </b>Open 24 * 7<br><br>
                    <b>Distance: </b> 5.6 km<br></p>
                </div>

                <div class="turf3">
                    <img src="/static/nimbalkarSports.jpg" alt="Nimbalkar Sports Club Turf">
                    <p><b>Nimbalkar Sports Club Turf</b><br><br>
                    <b>Location:</b><br>
                    D.Y. Patil University Road, Nimbalkar Nagar, Lohegaon<br><br>
                    <b>Time: </b>Open 24 * 7<br><br>
                    <b>Distance: </b> 6.9 km<br></p>
                </div>

                <div class="turf4">
                    <img src="/static/choviswadi.jpg" alt="Football and Cricket Turf">
                    <p><b>Football and Cricket Turf</b><br><br>
                    <b>Location:</b><br>
                    MV6M + MQV, Chovisawadi, Charholi Budruk<br><br>
                    <b>Time: </b>7 a.m. to 9-10 p.m.<br><br>
                    <b>Distance: </b> 3.5 km<br></p>
                </div>

                <div class="turf5">
                    <img src="/static/AKturf.png" alt="A.K. Turf and Sports Academy">
                    <p><b>A.K. Turf and Sports Academy</b><br><br>
                    <b>Location:</b><br>
                    Chaupati, behind Datta nagar bus stop, Dighi<br><br>
                    <b>Time: </b>Open 24 * 7<br><br>
                    <b>Distance: </b> 5 km<br></p>
                </div>

                <div class="turf6">
                    <img src="/static/varchaswa.jpg" alt="Varchaswa Sports Arena">
                    <p><b>Varchaswa Sports Arena</b><br><br>
                    <b>Location:</b><br>
                    Kate Vasti Charholi bk, in front of <br>PCMC stadium, Charholi Budruk<br><br>
                    <b>Time: </b>8 a.m. to 10 p.m.<br><br>
                    <b>Distance: </b> 2.4 km<br></p>
                </div>

                <div class="turf7">
                    <img src="/static/ayushman.jpg" alt="Ayushman Sports Academy">
                    <p><b>Ayushman Sports Academy</b><br><br>
                    <b>Location:</b><br>
                    Behind Ajmera ceat tyre, no. 3, Nimbalkar Nagar<br><br>
                    <b>Time: </b>Open 24 * 7<br><br>
                    <b>Distance: </b> 6.6 km<br></p>
                </div>
            </div>
            <button class="arrow right-arrow">&gt;</button> <!-- Right Arrow -->
        </div>
    </div>

    <!-- -------------- Sports Categories ------------- -->
     <div class="sports-categories">
        <h1>Choose Your Game!</h1>
        <div class="categories">
            <div class="sports1"></div>
            <div class="sports2"></div>
            <div class="sports3"></div>
            <div class="sports4"></div>
            <div class="sports5"></div>
        </div>
     </div>
    
    <script src="/static/js/main.js"></script>
</body>
</html>